spring.application.name=PaymentGateway

spring.datasource.url=${SPRING_DATASOURCE_URL}
spring.datasource.username=${SPRING_DATASOURCE_USERNAME}
spring.datasource.password=${SPRING_DATASOURCE_PASSWORD}

aes.secret.key=${AES_SECRET_KEY}

spring.jpa.hibernate.ddl-auto=update

razorpay.key.id.enc=${RAZORPAY_KEY_ID_ENC}
razorpay.key.secret.enc=${RAZORPAY_KEY_SECRET_ENC}

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
server.port=${PORT:8080}
